{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps,
 [{n2o, ".*", {git, "git://github.com/cxa/n2o", {tag, "master"}}},
  {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}}},
  {mad, ".*", {git, "git://github.com/synrc/mad", {tag, "3.9"}}}
 ]}.
{fetch_speed,fast_master}.
{verbose,1}.

